form{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}